input {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.title {
    font-size: 1.7rem;
    font-style: bold;
    margin: 0px;
}

.todo-list {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.btn-delete {
    margin: 0px;
}